# Database Variables
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_NAME=webr_todo_db

# The complete connection string for the backend (.NET)
DB_CONNECTION_STRING=Host=db;Port=5432;Database=webr_todo_db;Username=postgres;Password=mysecretpassword

# Frontend Config
# Ensure it starts with http://localhost:5186 if running locally via docker-compose
VITE_API_URL=http://localhost:5186/api/todo
